body {
    background-color:rgb(85, 85, 85);
    color:white;
}

.nav-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(4, 100, 122);
}

.nav-my-name {
    margin: 0;
    font-size: 2rem;
    flex: 1;
}

.nav-bar-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-bar-buttons button {
    padding: .5rem 1rem;
    font-size: 1.4rem;
}
