{% extends 'base.html' %}

{% block content %}
<h1 class='my-name'>Aiden Lehman</h1>
<h1 class='software-developer'>Software Developer</h1>

<h1>
    <p class='self-paragraph'>
        I was born in Snellville, Georgia in 2007. My family and I moved to Oxford, Mississippi in 2010, where we lived until November 2024. We now live in Water Valley, Mississippi. I graduated from Lafayette High School and currently attend Base Camp Coding Academy, a nonprofit software development program located in Water Valley. My goal in this program is to develop strong full-stack development skills and eventually secure a full-stack developer position. In my free time, I enjoy gaming, and I am also very passionate about bowling.
    </p>
</h1>
{% endblock content %}